/* ALLGEMEIN */
* {
    padding: 0;
    margin: 0;
    font-family: "Consolas", "Menlo", "Courier", monospace;
    box-sizing: border-box;
}

html {
    font-size: 14px;
}

body {
    background-color: black;
    color: white;
}

/* TITEL */
.main_window_flex {
    display: flex;
    height: 800px;
    justify-content: space-between;
}

.right_main {
    width: 20%;
}

.left_main {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.top_banner_flex {
    display: flex;
    height: 450px;
    justify-content: center;
}

/* SCOREBOARD */
table {
    border-collapse: collapse;
}

th, td {
    padding: 8px;
    text-align: left;
}

/* BUTTONS */
.button, .big_button {
    cursor: pointer;
    background-color: #1d4b8f;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 4px;
    border-radius: 10px;

}
.button:hover, .big_button:hover{
    background-color: #0000bf;
}

.button:active, .big_button:active{
    border-style: inset;
}

.big_button {
    width: 300px;
    height: 100px;
    font-size: 4rem;
}

/* PLAY BUTTON */
.play_button_flex {
    display: flex;
    height: 300px;
    align-items: center;
    justify-content: center;
}

/* LOGIN */
.login_manager_flex {
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-content: center;
    border-bottom-style: outset;
    background-color: #1d4b8f;
}

/* REGISTER */
.register_flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
}

.register_box, .score_box {
    padding: 10px;
    background-color: #1d4b8f;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: outset;
    border-radius: 10px;
}

/* GAME */
#gameCanvas {
    background-color: #00bfbf;

}

.game_flex {
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}