/* ALLGEMEIN */
* {
    padding: 0;
    margin: 0;
    font-family: "Consolas", "Menlo", "Courier", monospace;
    box-sizing: border-box;
}

html {
    font-size: 14px;
}

body {
    background-color: white;
    color: black;
}

/* TITEL */
.main_page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main_window_flex {
    display: flex;
    justify-content: space-between;
    height: 600px;
}

.right_main {
    width: 250px;
    overflow: scroll;
}

.left_main {
    padding-top: 10px;
    display: flex;
}

/* SCOREBOARD */
table {
    border-collapse: collapse;
}

th, td {
    padding: 8px;
    text-align: left;
}

/* BUTTONS */
.button, .big_button, .login-button {
    cursor: pointer;
    background-color: lightgray;
    color: black;
    text-align: center;
    display: inline-block;
    padding: 4px;
    border: none;
}

.button:hover, .big_button:hover, .login-button:hover {
    background-color: #3e3e3e;
}

.big_button {
    width: 300px;
    height: 100px;
    font-size: 4rem;
}

.button {
    height: 100%;
}

/* PLAY BUTTON */
.game_over_button_flex {
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 10px 10px 10px grey;
}

/* LOGIN */
.login_manager_flex {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: lightgray;
    height: 50px;
    box-shadow: 0 10px 20px grey;
}

.vl {
    border-left: 2px solid gray;
    height: 80%;
}


.login-input {
    margin-right: 10px;
    background-color: lightgray;
    border: none;
    border-bottom: 1px solid gray;
}

.login-button {
    width: 100px;
    height: 100%;
}

.reg-as {
    margin-right: 10px;
}

/* REGISTER */
.register_flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
}

.register_box, .score_box, .latest_games_box{
    padding: 10px;
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 5px grey;
}

/* PROFILE */
.profile_flex {
    display: flex;
    justify-content: space-around;
}

/* GAME */
#gameCanvas {
    background-color: white;

}

.game_flex {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.game_over_flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

/* ERROR BAR */
.error_bar {
    height: 20px;
}

/* MAIN SCREEN */
.main-page, html, body {
    height: 100%;
    width: 100%;
}

.main-page {
    display: flex;
    flex-direction: column;
}

.main-top {

}

.main-mid {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    padding: 25px;
    height: 100%;
}

.main-bot {
    display: flex;
    margin-top: auto;
    background-color: lightgray;
    box-shadow: 0 -10px 20px grey;
    height: 20px;
}

.mid-center {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: auto;
    flex: 1;
}

.mid-right {
   overflow-y: scroll;
}

.table-main {
    height: calc(100% - 60px);
}

canvas {
    border: 1px solid black;
}


.hover_img a { position:relative; }
.hover_img a span { position:absolute; display:none; z-index:99; }
.hover_img a:hover span { display:block; }